@font-face
{
  font-family:  "Coup";
  src:  url("/static/coup/Kwajong-BVRG.ttf");
}

*, *::before, *after{
  box-sizing:border-box;
}

body {
  background: linear-gradient(to bottom right,black,#323232, black)
}


.title
{
  text-align:center;
  font-family: Coup;
  padding:10px;
}

.title-text
{
  color:whitesmoke;
}

#form-div
{
  text-align:center;
  margin: auto;
  max-width: 300px;
  background-color:#717b85;
  padding:1%;
  border-radius: 5px;
  
}

#game-id
{
  text-align:center;  
}

.button-group
{
  margin:5%;
}

#game-id-label
{
  margin:2%;
  font-size:larger;
  color:white
}

.grid-container
{
  display:grid;
  width: 100%;
  height:100%;
  position: relative;
  grid-template-columns:1fr 1fr 1fr;
  grid-template-rows:1fr 1fr 1fr;
 
}

.grid-item
{

  width:100%;
  height:100%;

}

.grid-item-player
{
  display:grid;
  grid-template-columns:1fr 1fr;
  justify-items:center;
}

.player-card-div
{
  margin: auto;
}

.player-card-div-1 
{
  float: right;
  margin-right: 5px;
}

.player-card-div-2
{
  float: left;
  margin-left: 5px;
}

.player-card
{
  margin: auto;  
  width: 50%;  
}

.player-card-1
{
  margin-right: 0px;
  float:right;
}

.player-card-2
{
  margin-left: 0px;
  float:left;
}