@font-face
{
  font-family:  "Coup";
  src:  url(/static/coup/Kwajong-BVRG.ttf);
}

*, *::before, *after{
  box-sizing:border-box;
}

body {
  background: #f0f2f5;
  color: #333333;
}


.title
{
  text-align:center;
}

.title-text
{
  padding:1%;
}

#form-div
{
  text-align:center;
  margin: auto;
  max-width: 300px;
  background-color:#717b85;
  padding:1%;
  border-radius: 5px;

}

#game-id
{
  text-align:center;  
}

.button-group
{
  margin:5%;
}

#game-id-label
{
  margin:2%;
  font-size:larger;
  color:white
}