{% extends "coup/base.html" %}
{% load static %}
{% block content %}
    {% for player in players %}
        {{player.name}} {{player.id}}
    {% endfor %}
    <script src="https://cdn.socket.io/4.4.0/socket.io.min.js" integrity="sha384-1fOn6VtTq3PWwfsOrk45LnYcGosJwzMHv+Xh/Jx5303FVOXzEnw0EpLv30mtjmlj" crossorigin="anonymous" defer></script>
    <script src="{% static 'coup/coup_game.js' %}" defer></script>
    <div class="title">
        <h1 class="title-text" id="coup-title">Coup Online - <span class="room_name">{{ room_name }}</span></h1>
    </div>
    <div class="grid-container">
        <div class="grid-item"></div>
        <div class="grid-item" style="transform: rotate(180deg);">
            <div class="player-info" id="opponent2-info">
                <span style="" id="opponent2-name">You</span>
                <span style="" id="opponent2-money">Coins: 5</span>
            </div>
            <div class="opponent-card-div">
                <img src="https://theboardgameshow.files.wordpress.com/2014/01/coup2.jpg" class="opponent-card opponent2-card">
            </div>
            <div class="opponent-card-div">
                <img src="https://theboardgameshow.files.wordpress.com/2014/01/coup2.jpg" class="opponent-card opponent2-card">
            </div>
        </div>
        <div class="grid-item"></div>
        <div class="grid-item" style="transform: rotate(90deg)">
            <div class="player-info" id="opponent1-info">
                <span style="" id="opponent1-name">You</span>
                <span style="" id="opponent1-money">Coins: 5</span>
            </div>
            <div class="opponent-card-div">
                <img src="https://theboardgameshow.files.wordpress.com/2014/01/coup2.jpg" class="opponent-card opponent1-card">
            </div>
            <div class="opponent-card-div">
                <img src="https://theboardgameshow.files.wordpress.com/2014/01/coup2.jpg" class="opponent-card opponent1-card">
            </div>
        </div>
        <div class="grid-item center-grid">
            <div id="player-setup">
                <input required class="form-control" type="text" id="nick" placeholder="Enter Nick">
                <button class='btn btn-primary' id="join-button" onclick="joinGame()">Join</button>
            </div>   
        </div>
        <div class="grid-item" style="transform: rotate(270deg)">
            <div class="player-info" id="opponent3-info">
                <span style="" id="opponent3-name">You</span>
                <span style="" id="opponent3-money">Coins: 5</span>
            </div>
            <div class="opponent-card-div">
                <img src="https://theboardgameshow.files.wordpress.com/2014/01/coup2.jpg" class="opponent-card opponent1-card">
            </div>
            <div class="opponent-card-div">
                <img src="https://theboardgameshow.files.wordpress.com/2014/01/coup2.jpg" class="opponent-card opponent1-card">
            </div>
        </div>
        <div class="grid-item "></div>
        <div class="grid-item grid-item-player" id="player-ready" style="display:none">                     
            <div class="player-info">
                <span style="" id="player-name"></span>
                <span style="" id="player-money">Coins: 0</span>
            </div>
            <div class="turn-options">
                <button class="option-button option-button-true" style="float: right;">Take 1 Coin</button>
                <button class="option-button option-button-true" style="float: right;">Foreign Aid (Take 2 Coins)</button>
            </div>
            <div class="player-card-div-1 player-card-div">
                <img src="https://theboardgameshow.files.wordpress.com/2014/01/coup2.jpg" class="player-card-1 player-card">
            </div>
            <div class="player-card-div-2 player-card-div">
                <img src="https://theboardgameshow.files.wordpress.com/2014/01/coup2.jpg" class="player-card-2 player-card">
            </div>
            <div class="turn-options">
                <button class="option-button option-button-lie">Assassinate - Assassin</button>
                <button class="option-button option-button-lie">Take 3 Coins - Duke</button>
                <button class="option-button option-button-true">Steal 2 Coins - Captain</button>
                <button class="option-button option-button-lie">Swap Cards - Ambassador</button>
            </div>
            <div class="coup-action turn-options">
                <button class="option-button button-inactive">Coup</button>
            </div>
        </div>
        <div class="grid-item "></div>
    </div>
{% endblock content %}