{% extends "coup/base.html" %}
{% load static %}
{% block content %}
    <script src="{% static 'coup/coup_login.js' %}"></script>
    <div class="title">
        <h1 class="title-text" id="coup-title">Welcome to Coup Online</h1>
    </div>
    <div id="form-div">
        <form id="login-form" onsubmit="handleSubmit(this.submitted)" method="post">
            {% csrf_token %}
            <div class="form-group">
                {{% if error %}}
                    <span class="error">{{ error }}</span>
                {{% endif %}}
                <label for="game-id" id="game-id-label">Join or create a game below</label>
                <input required type="text" class="form-control" id="room-name" name="room_name" placeholder="Enter Game Room Name">
                <input hidden type="text" class="form-control" id="submit-type" name="submit_type">
            </div>
            <div class="button-group">
                <button type="submit" class="btn btn-primary" id="create-game-button" onclick="createGame(this)">Create Game</button>
                <button type="submit" class="btn btn-light" onclick="joinGame(this)">Join Game</button>
            </div>
        </form>
    </div>
    {% if errors %}
        {% for key, error in errors.items %}
            <script>alert('{{ key }}: {{ error }}')</script>
        {% endfor %}
    {% endif %}
{% endblock content %}