{% extends "coup/base.html" %}
{% load static %}
{% block content %}
    <script src="https://cdn.socket.io/4.4.0/socket.io.min.js" integrity="sha384-1fOn6VtTq3PWwfsOrk45LnYcGosJwzMHv+Xh/Jx5303FVOXzEnw0EpLv30mtjmlj" crossorigin="anonymous"></script>
    <script src="{% static 'coup/coup.js' %}"></script>
    <div class="title">
        <h1 class="title-text">Welcome to Coup Online</h1>
    </div>
    <div id="form-div">
        <form id="login-form" onsubmit="handleSubmit(this.submitted)" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="game-id" id="game-id-label">Join or create a game below</label>
                <input style="display: none" type="text" class="form-control" id="game-id" name="game_id" placeholder="Enter Game ID to Join">
            </div>
            <div class="button-group">
                <button type="submit" class="btn btn-primary" id="create-game-button" onclick="createGame(this)">Create Game</button>
                <button type="submit" class="btn btn-light" onclick="joinGame(this)">Join Game</button>
            </div>
        </form>
    </div>
    {% if errors %}
        {% for key, error in errors.items %}
            <script>alert('{{ key }} + {{ error }}')</script>
        {% endfor %}
    {% endif %}
{% endblock content %}