{% extends "coup/base.html" %}
{% load static %}
{% block content %}    
    <script src="https://cdn.socket.io/4.4.0/socket.io.min.js" integrity="sha384-1fOn6VtTq3PWwfsOrk45LnYcGosJwzMHv+Xh/Jx5303FVOXzEnw0EpLv30mtjmlj" crossorigin="anonymous"></script>
    <script src="{% static 'coup/coup_game.js' %}"></script>
    <input hidden value="{{player_id}}" id="player_id">   
    <div class="title">
        <h1 class="title-text" id="coup-title">Coup Online - <span class="room_name" id="room_name">{{ room_name }}</span></h1>
    </div>
    <div class="grid-container">
        <div class="grid-item"></div>
        <div class="grid-item">
            <div class="player-info" id="opponent1-info">
                <span class="opponent-name opponent-alive" id="opponent1-name">???</span>
                <span id="opponent1-money"></span>
            </div>
            <div class="opponent-card-div hidden">
                <div class="flippable-card">
                    <img src="{% static 'coup/card_back.png' %}" class="opponent-card opponent1-card" id="opponent1-card-1">
                </div>
            </div>
            <div class="opponent-card-div hidden">
                <div class="flippable-card">
                    <img src="{% static 'coup/card_back.png' %}" class="opponent-card opponent1-card" id="opponent1-card-2">
                </div>
            </div>
        </div>
        <div class="grid-item"></div>
        <div class="grid-item">
            <div class="player-info" id="opponent0-info">
                <span class="opponent-name opponent-alive" id="opponent0-name">???</span>
                <span id="opponent0-money"></span>
            </div>
            <div class="opponent-card-div hidden">
                <div class="flippable-card">
                    <img src="{% static 'coup/card_back.png' %}" class="opponent-card opponent0-card" id="opponent0-card-1">
                </div>
            </div>
            <div class="opponent-card-div hidden">
                <div class="flippable-card">
                    <img src="{% static 'coup/card_back.png' %}" class="opponent-card opponent0-card" id="opponent0-card-2">
                </div>
            </div>
        </div>
        <div class="grid-item center-grid" id="center-grid">
            <div id="player-setup">
                <input required class="form-control" type="text" id="nick" placeholder="Enter Nick" value="">
                <script>
                    var player_id = document.getElementById("player_id").value;
                    document.getElementById("nick").value = "{{ player_name }}"
                </script>
                <button class='btn btn-primary' id="join-button" onclick="joinGame()">Join</button>
            </div>   
        </div>
        <div class="grid-item">
            <div class="player-info" id="opponent2-info">
                <span class="opponent-name opponent-alive" id="opponent2-name">???</span>
                <span id="opponent2-money"></span>
            </div>
            <div class="opponent-card-div hidden">
                <div class="flippable-card">
                    <img src="{% static 'coup/card_back.png' %}" class="opponent-card opponent2-card" id="opponent2-card-1">
                </div>
            </div>
            <div class="opponent-card-div hidden">
                <div class="flippable-card">
                    <img src="{% static 'coup/card_back.png' %}" class="opponent-card opponent2-card" id="opponent2-card-2">
                </div>
            </div>
        </div>
        <div class="grid-item "></div>
        <div class="grid-item grid-item-player" id="player-ready" style="display:none">                     
            <div class="player-info" id="player-info">
                <span id="player-name"></span>
                <span id="player-money">Coins: 0</span>
            </div>
            <div class="turn-options hidden">
                <button class="option-button option-button-true" id="take-1" onclick="doAction('take-1', false)" style="float: right;">Take 1 Coin</button>
                <button class="option-button option-button-true" id="foreign-aid" onclick="doAction('foreign-aid', false)" style="float: right;">Foreign Aid (Take 2 Coins)</button>
            </div>
            <div class="player-card-div-1 player-card-div hidden">
                <div class="flippable-card">
                    <img src="{% static 'coup/assassin.png' %}" class="player-card-1 player-card" id="player-card-1">
                </div>
            </div>
            <div class="player-card-div-2 player-card-div hidden">
                <div class="flippable-card">
                    <img src="{% static 'coup/duke.png' %}" class="player-card-2 player-card" id="player-card-2">
                </div>
            </div>
            <div class="turn-options hidden">
                <button class="option-button option-button-lie" id="assassinate" onclick="doAction('assassinate', true)">Assassinate</button>
                <button class="option-button option-button-lie" id="take-3" onclick="doAction('take-3', false)">Take 3 Coins</button>
                <button class="option-button option-button-true" id="steal" onclick="doAction('steal', true)">Steal 2 Coins</button>
                <button class="option-button option-button-lie" id="swap" onclick="sendGetSwap()">Swap Cards</button>
            </div>
            <div class="coup-action turn-options hidden">
                <button class="option-button" id="coup-action" onclick="doAction('coup', true)" disabled>Coup</button>
            </div>
        </div>
        <div class="grid-item "></div>
    </div>


  <!-- Modal content -->
  <div id="action-overlay">
      <div id="action-modal">    
        <p id="action-modal-text"></p>
        <div id="action-modal-btn-div">
        </div>        
      </div>
  </div>


    {% if player_in_started_game %}
        <script defer>sendRejoin()</script>
    {% endif %}
{% endblock content %}