{% extends "coup/base.html" %}
{% load static %}
{% block content %}
    <script src="https://cdn.socket.io/4.4.0/socket.io.min.js" integrity="sha384-1fOn6VtTq3PWwfsOrk45LnYcGosJwzMHv+Xh/Jx5303FVOXzEnw0EpLv30mtjmlj" crossorigin="anonymous"></script>
    <script src="{% static 'coup/coup.js' %}"></script>
    <Container>
    <form id="login-form">
        {% csrf_token %}
        <div class="form-group">
            <label for="game-id">Welcome to Coup Online!</label>
            <input type="email" class="form-control" id="game-id" aria-describedby="emailHelp" placeholder="Enter Game ID to Join">
        </div>
        <div>
            <button type="submit" class="btn-primary mr-2">Create Game</button>
            <button type="submit" class="btn-secondary">Join Game</button>
        </div>
    </form>
    </Container>
{% endblock content %}