{% extends "coup/base.html" %}
{% load static %}
{% block content %}
    <script src="{% static 'coup/coup_login.js' %}"></script>
    <div class="title">
        <h1 class="title-text" id="coup-title">Welcome to Coup Online</h1>
    </div>
    <div id="create-form-div">
        <form id="login-form" onsubmit="handleSubmit(this.submitted)" method="post">
            {% csrf_token %}
            <div class="form-group">
                {% if error %}
                    <span class="error">{{ error }}</span>
                {% endif %}
                <label for=room-name" id="room-name-label">Room Name</label>
                <input required type="text" class="form-control" id="room-name" name="room_name" placeholder="Enter Game Room Name">
                <label for="password">Room Password</label>
                <input required type="password" class="form-control" id="password" name="password" placeholder="Enter Password for Game Room">
                <label for="no_of_players">Number of Players</label>
                <select id="no_of_players" class="form-select">
                  <option selected>Open this select menu</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                  <option value="4">Three</option>
                </select>
            </div>
            <div class="button-group">
                <button type="submit" class="btn btn-light" onclick="joinGame(this)">Enter Game Lobby</button>
            </div>
        </form>
    </div>
    {% if errors %}
        {% for key, error in errors.items %}
            <script>alert('{{ key }}: {{ error }}')</script>
        {% endfor %}
    {% endif %}
{% endblock content %}