{% load static %}
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'mywork/main.css' %}">
    <title>My Work</title>    
</head>
<body>
    <header class="p-3 bg-dark text-white sticky-top">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <span class="badge badge-primary">
          <a href="/about" class="nav-link px-2 text-info border border-info rounded " style="font-family: fantasy;font-size:2.5em;">BA</a>
        </span>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="/about" class="nav-link px-2 text-white">About Me</a></li>
          <li><a href="/cv" class="nav-link px-2 text-white">CV</a></li>
          <li class="nav-item dropdown text-white">
          <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Mock Systems
          </a>
          <ul class="dropdown-menu " aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/ecommerce_example">Ecommerce</a></li>
            <li><a class="dropdown-item" href="/user_management_example">User Management</a></li>
          </ul>
        </li>
        <li><a href="/projects" class="nav-link px-2 text-white">Hobby projects</a></li>
        <li><a href="/contact" class="nav-link px-2 text-white">Contact</a></li>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
          <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
        </form>

        <div class="text-end">
          <button type="button" class="btn btn-warning">Go</button>
        </div>
      </div>
    </div>
  </header>
    <main id="main" role="main" class="container">
      <div class="row">
        <div class="col-md-8">          
          {% block content %}{% endblock content %}
        </div>
        <div class="col-md-4">
          <div class="content-section">
            <h3>Side bar to sort, or jump down or something</h3>
            <p class="text-muted">Things to click</p>
            <ul class="list-group">
                <li class="list-group-item list-group-item-light">Profile</li>
                <li class="list-group-item list-group-item-light">Key Skills</li>
                <li class="list-group-item list-group-item-light">Work</li>
                <li class="list-group-item list-group-item-light">Education</li>
              </ul>
          </div>
        </div>
      </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>